{% extends "layout.html" %}
{% set title = _('Toda la Documentación de la plataforma Solop y las aplicaciones Solop para la empresa') %}
{% block body %}
  <h1>Toda la Documentación de la plataforma Solop y las aplicaciones Solop para la empresa</h1>
<img src="https://cdn.discordapp.com/attachments/882719683005022280/934158135155916800/portada_solop_institucional_297x21_Documenta_tu_negocio.png">
<table class="contentstable" align="center">
    <tr>
        <td width="100%">
            <p class="biglink">
                <a class="biglink" href="{{ pathto("adempiere/index") }}">
                    Solop ERP
                </a>
                <br />
                <span class="linkdescr">(Breve descripción de lo que es Solop ERP)</span>
            </p>
        </td>
    </tr>


    <tr>
        <h2>Localizaciones</h2>
            <td width="50%">
                <p class="biglink">
                    <a class="biglink" href="{{ pathto("lve/index") }}">
                    Localización Venezuela
                    </a>
                    <br />
                    <span class="linkdescr">(Breve descripción de Localización Venezuela)</span>
                </p>
            </td>
            <td width="75%">
                <p class="biglink">
                    <a class="biglink" href="{{ pathto("luy/index") }}">
                    Localización Uruguay
                    </a>
                    <br />
                    <span class="linkdescr">(Breve descripción de Localización Uruguay)</span>
                </p>
            </td>
    </tr>


    <tr>
        <h2>Verticales</h2>
            <td width="50%">
                <p class="biglink">
                    <a class="biglink" href="{{ pathto("education/index") }}">
                    Educación
                    </a>
                    <br />
                    <span class="linkdescr">(Breve descripción de Educación)</span>
                </p>
            </td>
            <td width="30%">
                <p class="biglink">
                    <a class="biglink" href="{{ pathto("agency/index") }}">
                    Agencia
                    </a>
                    <br />
                    <span class="linkdescr">(Breve descripción de Agencia)</span>
                </p>
            </td>
    </tr>

    <tr>
        <td width="50%">
            <p class="biglink">
                <a class="biglink" href="{{ pathto("agribusiness/farmer-assistance-management/index") }}">
                Agronegocios
                </a>
                <br />
                <span class="linkdescr">(Breve descripción de Agronegocios)</span>
            </p>
        </td>
    </tr>

</table>

{% endblock %}