<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=windows-1252">
</head>
<body>{% extends "layout.html" %} {% set title = _('Toda la Documentación de
la plataforma Solop y las aplicaciones Solop para la empresa') %} {% block
body %}
<h1>Toda la Documentación de la plataforma Solop y las aplicaciones Solop
    para la empresa</h1>
<img src="https://cdn.discordapp.com/attachments/882719683005022280/934158135155916800/portada_solop_institucional_297x21_Documenta_tu_negocio.png">
<h2>Localizaciones</h2>
<h2>Verticales</h2>
<p><br>
</p>
<table class="contentstable" align="center">
    <tbody>
    <tr>
        <td style="width: 291.6px;"><a class="biglink" href="%7B%7B%20pathto%28">Solop
            ERP </a> <br>
            <span class="linkdescr">(Breve descripción de lo que es Solop ERP)</span>
        </td>
        <td style="width: 291.6px;"><a class="biglink" href="%7B%7B%20pathto%28">Localización
            Uruguay </a> <br>
            <span class="linkdescr">(Breve descripción de Localización
              Uruguay)</span> </td>
    </tr>
    </tbody>
</table>
<table class="contentstable" align="center">
    <tbody>
    <tr>
        <td style="width: 291.6px;"><a class="biglink" href="%7B%7B%20pathto%28">Solop
            ERP </a> <br>
            <span class="linkdescr">(Breve descripción de lo que es Solop ERP)</span>
        </td>
        <td style="width: 291.6px;"><a class="biglink" href="%7B%7B%20pathto%28">Localización
            Uruguay </a> <br>
            <span class="linkdescr">(Breve descripción de Localización
              Uruguay)</span> </td>
    </tr>
    </tbody>
</table>
<table class="contentstable" align="center">
    <tbody>
    <tr>
        <td width="100%">
            <p class="biglink"> <a class="biglink" href="%7B%7B%20pathto%28" adempiere=""

                                   index")="" }}"=""> Solop ERP </a> <br>
                <span class="linkdescr">(Breve descripción de lo que es Solop
                ERP)</span> </p>
        </td>
    </tr>
    <tr>
        <td width="50%">
            <p class="biglink"> <a class="biglink" href="%7B%7B%20pathto%28" lve=""

                                   index")="" }}"=""> Localización Venezuela </a> <br>
                <span class="linkdescr">(Breve descripción de Localización
                Venezuela)</span> </p>
        </td>
        <td width="75%">
            <p class="biglink"> <a class="biglink" href="%7B%7B%20pathto%28" luy=""

                                   index")="" }}"=""> Localización Uruguay </a> <br>
                <span class="linkdescr">(Breve descripción de Localización
                Uruguay)</span> </p>
        </td>
    </tr>
    <tr>
        <td width="50%">
            <p class="biglink"> <a class="biglink" href="%7B%7B%20pathto%28" education=""

                                   index")="" }}"=""> Educación </a> <br>
                <span class="linkdescr">(Breve descripción de Educación)</span>
            </p>
        </td>
        <td width="30%">
            <p class="biglink"> <a class="biglink" href="%7B%7B%20pathto%28" agency=""

                                   index")="" }}"=""> Agencia </a> <br>
                <span class="linkdescr">(Breve descripción de Agencia)</span> </p>
        </td>
    </tr>
    <tr>
        <td width="50%">
            <p class="biglink"> <a class="biglink" href="%7B%7B%20pathto%28" agribusiness=""

                                   farmer-assistance-management="" index")="" }}"=""> Agronegocios
                </a> <br>
                <span class="linkdescr">(Breve descripción de Agronegocios)</span>
            </p>
        </td>
    </tr>
    </tbody>
</table>
{% endblock %}
</body>
</html>