{% extends "layout.html" %}
{% set title = _('') %}
{% block body %}
  <h1>Toda la Documentación de la plataforma Solop y las aplicaciones Solop para la empresa</h1>
<img src="https://cdn.discordapp.com/attachments/882719683005022280/934158135155916800/portada_solop_institucional_297x21_Documenta_tu_negocio.png">
<table class="contentstable" align="center">
    <tr>
        <td width="100%">
            <p class="biglink">
                <a class="biglink" href="{{ pathto("adempiere/index") }}">
                    Solop ERP
                </a>
                <br />
                <span class="linkdescr">(Breve descripción de lo que es Solop ERP)</span>
            </p>
        </td>
    </tr>

    <tr>
        <td width="50%">
            <p class="biglink">
                <a class="biglink" href="{{ pathto("education/index") }}">
                    Educación
                </a>
                <br />
                <span class="linkdescr">(Breve descripción de Educación)</span>
            </p>
        </td>
        <td width="50%">
            <p class="biglink">
                <a class="biglink" href="{{ pathto("agency/index") }}">
                    Agencia
                </a>
                <br />
                <span class="linkdescr">(Breve descripción de Educación)</span>
            </p>
        </td>
    </tr>

</table>


<h2>Localización Venezuela ADempiere</h2>
<table class="contentstable" align="center">
    <tr>
        <td width="50%">
            <p class="biglink">
                <a class="biglink" href="{{ pathto("lve/standard-coding/index") }}">
                    Codificación Estándar
                </a>
                <br />
                <span class="linkdescr"><a href="http://erpya.com/">ERPyA</a> al implantar ADempiere estandar, pretende establecer normas claras y precisas en los métodos y formas de ejecutar un proceso concreto, estas normas en ocasiones no pretende burocratizar, sino prever problemas y soluciones, para el caso de administración, contabilidad, recursos humanos y nómina, se plantea la codificación estandar como indispensable para la buena administración.</span>
            </p>
        </td>
        <td width="50%">
            <p class="biglink">
                <a class="biglink" href="{{ pathto("lve/procedures/payroll/index") }}">
                    Gestión de Nóminas
                </a>
                <br />
                <span class="linkdescr">El proceso de creación de nómina en ADempiere comienza en cada período de pago, estos están definido en la LOTTT, en tal sentido, el formato estándar de <a href="http://erpya.com/">ERPyA</a> para una nómina está regulado por la legislación venezolana vigente, en la que se establece una estructura mínima respetada: Nómina Quincenal, Nómina Semanal, Nómina Mensual, Nómina de Bono de Alimentación, Vacaciones, Utilidades y Liquidación. El diseño tiene el propósito de controlar la información de nómina de la empresa, ¿Quieres conocer a fondo esta definición?</span>
            </p>
        </td>
    </tr>

    <tr>
        <td width="50%">
            <p class="biglink">
                <a class="biglink" href="{{ pathto("lve/fiscal-printer/index") }}">
                    Impresora Fiscal
                </a>
                <br />
                <span class="linkdescr">Consulta documentos como <a href="{{ pathto("lve/fiscal-printer/commons-errors-fiscal-printer.html") }}"">Errores Comunes </br> de la Impresora Fiscal</a>, <a href="{{ pathto("lve/fiscal-printer/manual-reports.html") }}"">Generar Reportes Manualmente en la Impresora</a> y <a href="{{ pathto("lve/fiscal-printer/setup-vmax-220.html") }}"">Configuración </br> de Impresora Fiscal VMax 220 para Usar con ADempiere</a></span>
            </p>
        </td>
    </tr>
</table>

<h2>Localización Uruguay</h2>
<table class="contentstable" align="center">
    <tr>
        <td width="50%">
            <p class="biglink">
                <a class="biglink" href="{{ pathto("luy/electronic-billing/index") }}">
                Facturación Electrónica
                </a>
                <br />
                <span class="linkdescr"></span>
            </p>
        </td>
        <td width="50%">
            <p class="biglink">
                <a class="biglink" href="{{ pathto("luy/procedures/index") }}">
                Procedimientos
                </a>
                <br />
                <span class="linkdescr"></span>
            </p>
        </td>
    </tr>

    <tr>
        <td width="50%">
            <p class="biglink">
                <a class="biglink" href="{{ pathto("luy/reports/index") }}">
                Reportes
                </a>
                <br />
                <span class="linkdescr"></span>
            </p>
        </td>
    </tr>
</table>

<h2>Versiones</h2>
<table class="contentstable" align="center">
    <tr>
        <td width="50%">
            <p class="biglink">
                <a class="biglink" href="{{ pathto("ADempiere-Base") }}">
                    ADempiere Base
                </a>
                <br />
                <span class="linkdescr"></span>
            </p>
        </td>
        <td width="50%">
            <p class="biglink">
                <a class="biglink" href="{{ pathto("admpiere-legacy") }}">
                ADempiere Legacy
                </a>
                <br />
                <span class="linkdescr"></span>
            </p>
        </td>
    </tr>

    <tr>
        <td width="50%">
            <p class="biglink">
                <a class="biglink" href="{{ pathto("mini-erp") }}">
                    Mini ERP </br>
                </a>
                <br />
                <span class="linkdescr"></span>
            </p>
        </td>
        <td width="50%">
            <p class="biglink">
                <a class="biglink" href="{{ pathto("adempiere-ui") }}">
                ADempiere-UI
                </a>
                <br />
                <span class="linkdescr"></span>
            </p>
        </td>
    </tr>
</table>

{% endblock %}